html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background: linear-gradient(145deg, rgba(73,194,239,1) 0%, rgba(17,122,180,1) 100%);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
}

header {
    padding: 0px 40px 0px 10px;
    background-color: rgba(255, 255, 255, .1);
}

.logo {
    display: flex;
    justify-content: center;
    border: 3px solid white;
    border-radius: 25px;
    width: 100px;
    margin-left: 20px;
    padding: 10px;
    /* transition: .2s; */
}

.logo:hover {
    background-color: rgba(255, 255, 255, .1);
    transition: .5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.nav h2 {
    padding: 20px 20px;
}

.sectionHeader {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 15%;
    width: 50%;
}

.sectionHeader h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.navLogo {
    display: flex;
    align-items: center;
}

.navItems {
    display: flex;
}

.testimonials {
    background-color: white;
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}

img {
    width: 140px;
    height: 140px;
    border-radius: 40%;
    border: 5px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: 40px 0;
}

.testimonials h1 {
    margin: 0;
}
#testimonial {
    width: 50%;
    margin-bottom: 40px ;
    text-align: left;
}

#rndUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    height: 26px;
    border: none;
    border-radius: 10px;
    padding: 0px 8px;
    width: 100%;
}

input:focus {
    outline: none;

}

textarea {
    border: none;
    border-radius: 10px;
    padding: 5px 8px;
    width: 100%;
    resize: vertical;
}

textarea:focus {
    outline: none;

}

.ideaFields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#idea {
    min-height: 100px;
}

button {
    padding: 12px 35px;
    background-color: white;
    border: none;
    border-radius: 10px;
    transition: .3s;
    width: 150px;
}

button:hover {
    background-color: rgba(230,250,255,1);
}

button:focus {
    outline: none;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.mobileMenu {
    display: none;
}

#companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#companies h4 {
    margin: 5px 10px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.filters h3 {
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 15px;
    margin: 5px 10px;
    border: 2px solid white;
    border-radius: 25px;
    user-select: none;
    transition: .3s;
}

.filters h3:hover {
    background-color: rgba(255, 255, 255, .2);
    transition: .3s;
}
.testNext {
    position: absolute;
    right: 15%;
    transform: scaleY(3) scaleX(2.5);
    transition: .3s;
    padding: 5px;
}
.testNext:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: .3s;
}
#mobileMenu {
    display: none;
}
/* -------------------------------------------------------- */
/* -------------------------Tablet------------------------- */
/* -------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
    header {
        font-size: .6rem;
    }
    .logo {
        border: 2px solid white;
        padding: 5px;
        width: 75px;
        border-radius: 14px;
    }
    .sectionHeader {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileMenu {
        display: none;
    }
    #testimonial {
        width: 70%;
        text-align: left;
    }
    .testNext {
        right: 5%;
    }
    #mobileMenu {
        display: none;
    }
}

/* -------------------------------------------------------- */
/* -------------------------Mobile------------------------- */
/* -------------------------------------------------------- */
@media (max-width: 480px) {
    header {
        font-size: .6rem;
        height: 60px;
    }
    .nav {
        justify-content: space-around;
        height: 60px;
    }
    .logo {
        border: 2px solid white;
        padding: 5px;
        width: 75px;
        border-radius: 14px;
    }
    .sectionHeader {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }
    .navItems {
        visibility: hidden;
    }
    .mobileMenu {
        display: flex;
        align-items: center;
        font-size: 2rem;
        display: block;
        right: 20px;
        top: 15px;
    }
    input {
        width: 96%;
    }
    textarea {
        width: 96%;
    }
    .ideaForm {
        text-align: left;
    }
    #testimonial {
        width: 75%;
        text-align: center;
    }
    .testNext {
        right: 4%;
    }
    #mobileMenu {
        background-color: white;
        color: rgb(17,122,180);
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobileMenu h1 {
        padding: 0px 15%;
        user-select: none;
    }
    #mobileMenu h1:hover {
        color: rgb(73,194,239)
    }
}