html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    background: linear-gradient(145deg, rgba(73,194,239,1) 0%, rgba(17,122,180,1) 100%);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
}
header {
    padding: 0px 1.5rem;
    background-color: rgba(255, 255, 255, .1);
}
.logo {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid white;
    border-radius: 3px;
    width: 100px;
    height: 35%;
    padding: 0px 5px 0px 3px;
}
.bigLogo {
    margin: 0;
    font-size: 1.9rem;
}
.biggerLogo {
    margin: 11px 0px 0px 0px;
    padding-top: 2px;
    border-top: 3px solid white;
    border-radius: 3px;
    line-height: 112%;
}
.nav {
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.nav h2 {
    padding: 20px 20px;
}
.sectionHeader {
    margin: 8em 0px 8em 15%;
    width: 50%;
}
.sectionHeader h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.navLogo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.navItems {
    display: flex;
}
.testimonials {
    background-color: white;
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}
img {
    width: 140px;
    height: 140px;
    border-radius: 40%;
    border: 5px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: 40px 0;
}
.testimonials h1 {
    margin: 0;
}
#testimonial {
    width: 50%;
    margin-bottom: 40px ;
    text-align: left;
}
#rndUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    height: 26px;
    border: none;
    border-radius: 10px;
    padding: 0px 8px;
    width: 100%;
}
input:focus {
    outline: none;
}
textarea {
    border: none;
    border-radius: 10px;
    padding: 5px 8px;
    width: 100%;
    resize: vertical;
}
textarea:focus {
    outline: none;

}
.ideaFields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#idea {
    min-height: 100px;
}
button {
    padding: 12px 35px;
    background-color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
    width: 150px;
}
button:hover {
    background-color: rgba(230,250,255,1);
    transition: .2s;
}
button:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#companies h4 {
    margin: 5px 10px;
    color: #444;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.filters h3 {
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 15px;
    margin: 5px 10px;
    border: 2px solid #444;
    color: #444;
    border-radius: 25px;
    user-select: none;
    transition: 1s;
}
.filters h3:hover {
    background-color: rgba(0,0,0,.04);
    transition: .2s;
}
.testNext {
    position: absolute;
    right: 15%;
    transform: scaleY(3) scaleX(2.5);
    transition: 1s;
    padding: 5px;
    opacity: .3;
}
.testNext:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: .2s;
    opacity: .5;
}
.mobileMenu {
    display: none;
}
.testimonials span {
    min-height: 278px;
}
.sortableList {
    padding: 1em 3em 4em 3em;
    background-color: white;
    color: #444;
    display: flex;
    flex-direction: row;
}
.liTwo {
    width: 120%;
}
.theDream {
    text-align: center;
    padding: 1em 1em 1em 1em;
    margin: 0;
    background-color: white;
    color: #444;
}
footer {
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .2);
}
footer p {
    margin: 0;
}
.socialIcons {
    display: flex;
}
.fab {
    margin: 1rem 1rem 0rem 1rem;
    font-size: 2.5rem;
    transition: 1s;
}
.fab:hover {
    transition: .2s;
}
.fa-github:hover {
    color: rgb(0, 0, 0);
}
.fa-twitter:hover {
    color: rgb(56, 184, 255);
}
.fa-linkedin:hover {
    color: rgb(0, 115, 177);
}
/* -------------------------------------------------------- */
/* -------------------------Tablet------------------------- */
/* -------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
    header {
        font-size: .6rem;
    }
    .navLogo {
        margin-left: .5rem;
    }
    .logo {
        width: 70px;
        height: 39%;
    }
    .bigLogo {
        font-size: 1.6rem;
    }
    .biggerLogo {
        margin: 9px 0px 0px 0px;
        line-height: 140%;
        font-size: 1.25em;
    }
    .sectionHeader {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    #testimonial {
        width: 70%;
        text-align: left;
    }
    .testNext {
        right: 5%;
    }
    .navItems {
        display: flex;
    }
    .mobileMenu {
        display: none;
    }
    .sortableList {
        flex-direction: column;
    }
    .liOne {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .liTwo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filters {
        justify-content: center;
    }
    #companies {
        justify-content: center;
    }
}

/* -------------------------------------------------------- */
/* -------------------------Mobile------------------------- */
/* -------------------------------------------------------- */
@media (max-width: 480px) {
    header {
        font-size: .6rem;
        height: 60px;
        padding: 0px;
    }
    .nav {
        justify-content: space-between;
        height: 60px;
        padding: 0px 1rem;
    }
    .navLogo {
        margin-left: .5rem;
    }
    .logo {
        height: 46%;
        width: 77%;
    }
    .bigLogo {
        font-size: 1.3rem;
    }
    .biggerLogo {
        margin: 7px 0px 0px 0px;
        padding-top: 4px;
        line-height: 65%;
    }
    .sectionHeader {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }
    .navItems {
        display: none;
    }
    .mobileMenu {
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    input {
        width: 96%;
    }
    textarea {
        width: 96%;
    }
    .ideaForm {
        text-align: left;
    }
    #testimonial {
        width: 75%;
        text-align: center;
    }
    .testNext {
        right: 4%;
    }
    #mobileMenu {
        background-color: white;
        color: rgb(17,122,180);
        width: 100%;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, .1);
    }
    #mobileMenu a {
        margin: auto;
        padding: .5rem 0px;
        user-select: none;
        color: #444;
        width: 90%;
        text-align: center;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    #mobileMenu a:hover {
        color: rgb(73,194,239);
    }
    .sortableList {
        flex-direction: column;
        padding: 1em 1em 4em 1em;
    }
    .liOne {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .liTwo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filters {
        justify-content: center;
    }
    #companies {
        justify-content: center;
    }
}